<!DOCTYPE html>
<html lang="en">

<head>
  <title>PasswordKeepR</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/header.css" type="text/css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">



  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script type="text/javascript" src="/scripts/styles.js"></script>
</head>

<body>
  <header>
    <h1 id="logo">Logo</h1>
    <div class="row-beside">
      <div class="userDisplay">
        <p>Jaycob Avery</p>
        <p>Lighthouse Labs</p>
      </div>
      <button id='logout'>Log Out</button>
    </div>
  </header>
    <main>
      <div class='website-display'>
      <section class='new-website-form'> <!-- New website form -->
        <article>
          <!-- <h2>New Password Form</h2> -->
          <form class="row-beside new-website" method="POST" action="/websites">
            <div class='url-info'>
              <input type="text" placeholder="Website" name="newWebsite" id='addWebsite'><br>
              <input type="text" placeholder="Username"  name="newUsername" id='addUsername'><br>
              <select name="newCategory">
                <option value="social" id='social'>Social</option>
                <option value="work" id='work'>Work</option>
                <option value="entertainment" id='entertainment'>Entertainment</option>
                <option value="others" id='others'>Others</option>
              </select>
            </div>
            <div id='passwordCriteria'>
              <input type="radio" class='radio' id='uppercase' value='uppercase'>
              <label for="uppercase">Uppercase</label><br>
              <input type="radio" class='radio' id="lowercase" name="lowercase" value="lowercase">
              <label for="lowercase">Lowercase</label><br>
              <input type="radio" class='radio' id="specialCharacter" name="specialCharacter" value="specialCharacter">
              <label for="specialCharacter">Special Characters</label><br>
              <input type="radio" class='radio' id="numbers" name="numbers" value="numbers">
              <label for="numbers">Numbers</label><br>
              <input type="number" min=1 max=255 id='charLimit'>
            </div>

            <input type="text" placeholder="Password" id='addPassword' name="newPass" >
            <button id='generate'class="material-icons-two-tone">
              create</button>
            <button id='add' class="material-icons-round add-new-web">add_circle</button>
          </form>
        </article>
      </section>
      <section id="category"> <!-- display website info -->
        <article class="arrange-website" id="accountContainer">
          <section class="account">
            <img class ='website-img'src='https://www.clipartmax.com/png/middle/223-2237244_download-facebook-logo-free-png-transparent-image-and-find-us-on-facebook.png'>
            <div class="row-beside website-info">
              <div>
                <h3>facebook.com</h3>
                <h3>chunkey_monkey</h3> <!-- stretch to change username-->
              </div>
              <div class='hover-website'>
                <form class="row-beside">
                  <h3 id='editPassword'>ben&jerry'srocks</h3> <!-- toggle or on hover (or the eye thing)-->
                </form>
                <form>
                  <button id='copy' class="material-icons-two-tone">
                    content_copy</button>
                  <button id='edit' class="material-icons-two-tone">
                    build</button>
                  <button id='delete' class="material-icons-two-tone">
                    delete</button>
                </form>
              </div>
           </div>
          </section>
        </article>
        <article class="arrange-website" id="accountContainer">
          <section class="account">
            <img class ='website-img'src='https://www.clipartmax.com/png/middle/223-2237244_download-facebook-logo-free-png-transparent-image-and-find-us-on-facebook.png'>
            <div class="row-beside website-info">
              <div>
                <h3>facebook.com</h3>
                <h3>chunkey_monkey</h3> <!-- stretch to change username-->
              </div>
              <div class='hover-website'>
                <form class="row-beside">
                  <h3 id='editPassword'>ben&jerry'srocks</h3> <!-- toggle or on hover (or the eye thing)-->
                </form>
                <form>
                  <button id='copy' class="material-icons-two-tone">
                    content_copy</button>
                  <button id='edit' class="material-icons-two-tone">
                    build</button>
                  <button id='delete' class="material-icons-two-tone">
                    delete</button>
                </form>
              </div>
           </div>
          </section>
        </article>
        <article class="arrange-website" id="accountContainer">
          <section class="account">
            <img class ='website-img'src='https://www.clipartmax.com/png/middle/223-2237244_download-facebook-logo-free-png-transparent-image-and-find-us-on-facebook.png'>
            <div class="row-beside website-info">
              <div>
                <h3>facebook.com</h3>
                <h3>chunkey_monkey</h3> <!-- stretch to change username-->
              </div>
              <div class='hover-website'>
                <form class="row-beside">
                  <h3 id='editPassword'>ben&jerry'srocks</h3> <!-- toggle or on hover (or the eye thing)-->
                </form>
                <form>
                  <button id='copy' class="material-icons-two-tone">
                    content_copy</button>
                  <button id='edit' class="material-icons-two-tone">
                    build</button>
                  <button id='delete' class="material-icons-two-tone">
                    delete</button>
                </form>
              </div>
           </div>
          </section>
        </article>
        <article class="arrange-website" id="accountContainer">
          <section class="account">
            <img class ='website-img'src='https://www.clipartmax.com/png/middle/223-2237244_download-facebook-logo-free-png-transparent-image-and-find-us-on-facebook.png'>
            <div class="row-beside website-info">
              <div>
                <h3>facebook.com</h3>
                <h3>chunkey_monkey</h3> <!-- stretch to change username-->
              </div>
              <div class='hover-website'>
                <form class="row-beside">
                  <h3 id='editPassword'>ben&jerry'srocks</h3> <!-- toggle or on hover (or the eye thing)-->
                </form>
                <form>
                  <button id='copy' class="material-icons-two-tone">
                    content_copy</button>
                  <button id='edit' class="material-icons-two-tone">
                    build</button>
                  <button id='delete' class="material-icons-two-tone">
                    delete</button>
                </form>
              </div>
           </div>
          </section>
        </article>
      </section>
    </div>
    <aside id='filter'> <!-- sidebar-->
      <h2>sidebar</h2>
      <input type="radio" id='all' name='all' value='all'>
      <label for="all">All</label><br>
      <input type="radio" id="social" name="social" value="social">
      <label for="social">Social</label><br>
      <input type="radio" id="other" name="entertainment" value="entertainment">
      <label for="entertainment">Entertainment</label><br>
      <input type="radio" id="work" name="work" value="work">
      <label for="work">Work</label><br>
    </aside>
    </main>
    <footer>
      <button class="material-icons-round" id="addBtn" >add_circle</button>
    </footer>
</body>

</html>
