<!DOCTYPE html>
<html lang="en">

<head>
  <title>PasswordKeepR</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/header.css" type="text/css">


  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <header>
    <div class="row-beside">
      <h1 id="logo">Logo</h1>
      <div class="row-beside">
        <div class="userDisplay">
          <p>Name</p>
          <p>Company</p>
        </div>
        <button id='logout'>Log Out</button>
      </div>
    </div>
    <div class="header-btn">
      <button id='createPassword'>Add Password</button>
    </div>
  </header>
    <main>
      <div class='website-display'>
      <section> <!-- New website form -->
        <article>
          <!-- <h2>New Password Form</h2> -->
          <form class="row-beside new-website" method="POST">
            <div class='url-info'>
              <input type="text" placeholder="Website" id='addWebsite'>
              <input type="text" placeholder="Username" id='addUsername'>
              <select>
                <option value="social" id='social'>Social</option>
                <option value="work" id='work'>Work</option>
                <option value="entertainment" id='entertainment'>Entertainment</option>
                <option value="others" id='others'>Others</option>
              </select>
            </div>

            <div id='passwordCriteria'>
              <input type="radio" id='uppercase' value='uppercase'>
              <label for="uppercase">Uppercase</label><br>
              <input type="radio" id="lowercase" name="lowercase" value="lowercase">
              <label for="lowercase">Lowercase</label><br>
              <input type="radio" id="specialCharacter" name="specialCharacter" value="specialCharacter">
              <label for="specialCharacter">Special Characters</label><br>
              <input type="radio" id="numbers" name="numbers" value="numbers">
              <label for="numbers">Numbers</label><br>
              <input type="number" min=1 max=255 id='charLimit'>
            </div>
            <input type="text" placeholder="Password" id='addPassword'>
            <button id='generate'>Generate</button>
            <button id='add'>Add</button>
          </form>
        </article>
      </section>
      <sections> <!-- display website info -->
        <h2>Catagories</h2>
        <article class="row-beside">
          <div class="row-beside">
            <h4>image</h4>
            <div>
              <h3>Website</h3>
              <h3>Username</h3> <!-- stretch to change username-->
            </div>
         </div>
         <form class="row-beside">
           <h3 id='editPassword'>Password</h3> <!-- toggle or on hover (or the eye thing)-->
           <button id='copy'>Copy</button>
         </form>
          <form>
            <button id='edit'>Edit</button>
            <button id='delete'>Delete</button>
          </form>
        </article>
      </sections>
    </div>
    <aside id='filter'> <!-- sidebar-->
      <h2>sidebar</h2>
      <input type="radio" id='all' name='all' value='all'>
      <label for="all">All</label><br>
      <input type="radio" id="social" name="social" value="social">
      <label for="social">Social</label><br>
      <input type="radio" id="other" name="entertainment" value="entertainment">
      <label for="entertainment">Entertainment</label><br>
      <input type="radio" id="work" name="work" value="work">
      <label for="work">Work</label><br>
    </aside>
    </main>
</body>

</html>
