$primary: #0069c0;
$sidebarColor: #4f5b62;
$formColor: #cfd8dc;
$websiteDisplay: #0069c0;

header {
  display: flex;
  background-color: $primary;
  justify-content: space-between;
  padding: 1rem;
  position: fixed;
  top: 0;
  height: 130px;
  width: 100%;
}

.row-beside {
  display: flex;
  align-items: center;
}

.column-under {
  display: flex;
  flex-direction: column;
}

.userDisplay {
  padding-left: 1rem;
  padding-right: 1rem;
}

#loginDisplay {
  color: #263238;
  font-size: 30px;
  margin: none;
}

#companyName {
  text-align: right;
}

#logout {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  background-color: transparent;
  border: 2px solid $sidebarColor;
  border-radius: 10px
}

#logout:hover {
  background-color: #4CAF50;
  border: 2px solid #4CAF50;
  color: white;
}

// website display
.categories{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.all-websites {
  display: flex;
  flex-direction: row;
}

.account {
  display: flex;
  flex-direction: column;
  height: 10rem;
  min-width: 20rem;
  background-color: $websiteDisplay;
  box-shadow: 5px 5px 10px #888888;
  margin: 1rem;

}

.website-info {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
}

.website-img {
  height: 50px;
  width: 50px;
  margin: auto;
}

.align {
 background-color: #2195f2;
 padding: 0.25rem;
}

.url-username-display {
  padding: 0.5rem
}

.hover-website {
  padding: 0.5rem;
}

 // New website Form
 .new-website-form {
   display: none;
 }
 .new-website {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  background-color: $formColor;
  margin-top: 1rem;
}

.url-info {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.add-new-web {
  border: none;
  outline: none;
  background-color: Transparent;
  color: red;
  transition-duration: 0.4s;
}

.add-new-web:hover {
  color: #4CAF50;
}
.radio {
  padding: 1rem;
}

#passwordCriteria {
  padding: 1rem;
}
#add {
  display: flex;
  align-self: flex-end;
}

#addPassword {
  margin-right: 1rem;
}

.hover-website {
  display: none;
}



// Sidebar

aside {
  display: none;
  background-color: $sidebarColor;
  width: 200px;
  padding: 1rem;
  font-size: 20px;

  span:hover {
    color: #f1f1f1;
  }
}

#filter-symbol {
  font-size: 60px;
}




//add password button
#addBtn {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: Transparent;
  border-radius: 50%;
  font-size: 60px;
  color: red;
  transition-duration: 0.4s;
}

#addBtn:hover {
  color: white;
}
