$primary: #0069c0;
$sidebarColor: #cfd8dc;
$formColor: #cfd8dc;
$websiteDisplay: #6ec6ff;

header {
  display: flex;
  background-color: $primary;
  justify-content: space-between;

}

.row-beside {
  display: flex;
  align-items: center;
}

.header-btn {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.userDisplay {
  margin-right: 1rem;
}

#logo {
  margin: 1rem;
}

// website display
.all-websites {
  display: flex;
  flex-direction: row;
}
.arrange-website {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.account {
  display: flex;
  flex-direction: column;
  height: 10rem;
  width: 20rem;
  margin: 1rem;
  background-color: $websiteDisplay;
  box-shadow: 5px 5px 10px #888888;

}

.website-info {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
}

.website-img {
  height: 50px;
  width: 50px;
  margin: auto;
}

 // New website Form
 .new-website {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: $formColor;
}

.url-info {
  display: flex;
  flex-direction: column;
}

#add {
  display: flex;
  align-self: flex-end;
}

// Sidebar

aside {
  background-color: $sidebarColor;
}
