// See: https://sass-lang.com/
$backgroundColor:#6ec6ff;
// font-family: 'Roboto Mono', monospace;
$primaryFontColor: #000a12;
$secondaryFontColor: #4f5b62;

body {
  background-color: $backgroundColor;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  color: $primaryFontColor;
  h1 {
    color: #263238;

  }
}

h3 {
  font-weight: lighter;
}

main {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

article {
  display: flex;
  justify-content: space-around;

}

.website-display {
  width: 90%;
  margin-left: 1rem;
}

#logo {
  font-size: 100px;
}

