// See: https://sass-lang.com/

body {
  background-color: #EEE;
  height: 100%;
  h1 {
    color: #244751;
  }
}

form {
  background-color: greenyellow;
  display: flex;
  justify-content: space-evenly;
}

main {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

article {
  display: flex;
  justify-content: space-around;
  background-color: coral;

}
.website-display {
  width: 90%;
  margin-left: 1rem;
}
