// See: https://sass-lang.com/

body {
  background-color: #EEE;

  h1 {
    color: #244751;
  }
}

form {
  background-color: greenyellow;
}

main {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.website-display {
  width: 80%;
  margin-left: 1rem;
}
